*{
  /* background-image: url('.src/assets/sky.jpg'); */
  /* background:black; */
}
.map-box{
  border-radius:17px;
  border:10 px solid black;
  margin-top:25px;
  box-shadow:2px 2px 10px rgba(0, 0, 0, 0.3);
  margin-left:40px;
}
.map-class{
  margin-top:17px;
  width:100%;
  margin-left:60px;
  /* border-radius:100px; */
  /* border: 10px solid black; */
  /* height:50%; */
}

.InputContainer {
    margin-top:100px;
    /* padding-left:10px; */
    width: 210px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* background-color:black; */
    /* background: linear-gradient(99deg, rgba(212,0,124,0.5) 0%, rgba(45,135,253,0.5) 100%); ; */
    border-radius: 10px;
    overflow: hidden;
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); */
    /* margin-left:100px; */
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    /* caret-color: rgb(255, 81, 0); */
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding-left: 15px;
    letter-spacing: 0.8px;
    color: rgb(19, 19, 19);
    font-size: 13.4px;
    
  }
.input{
  margin-left:50px;
  margin-top:30px;
  box-shadow:2px 2px 10px rgba(0, 0, 0, 0.3);
}
.search-list{
  /* margin-right:10px; */
    /* padding-right: 50px; */
    /* list-style: none; */
    /* display: flex; */
    /* padding-left:100px; */
    /* align-element:center; */
}  
/* .search-list>li{
    padding: 15px;
} */

.map-button {
  /* margin-top:5px; */

  margin-left:150px;
  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;

  /* crusor:pointer; */
 }
 
 .map-button:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
  cursor:pointer;
 }
 
 @keyframes pulse512 {
  0% {
   box-shadow: 0 0 0 0 #05bada66;
  }
 
  70% {
   box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }
 
  100% {
   box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
 }