.link-map{
    text-decoration:none;
    color:white;
    text-shadow:2px 2px rgb(0,0,0,0.5);
}

.link-flight{
    text-decoration:none;
    color:white;
    text-shadow:2px 2px rgb(0,0,0,0.5);
}
.ps-sidebar-container{
    height: 93vh !important; 
    background: linear-gradient(99deg, rgba(212,0,124,1) 0%, rgba(45,135,253,1) 100%); !important;
    border-radius:20px;
    margin-left:0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* padding-top:100px; */
}
.ps-menu-button{
    padding: 0.8em 1.8em;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    width:100%;
    background-color:rgba(0, 0, 0, 0.2);
    margin-bottom:2px;
}
.ps-menu-button:hover.link-dash{
    }